body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 700px;
    display: flex;
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
}


img{
    /* margin: 5px; */
    padding: 5px;
    width: 270px;
    height: 270px;
}
